.tituloh3{
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
}

h4{
  color: white;
  font-size: 1.2rem;
}

h5{
  font-size: 1.2rem;
  color: white;
  font-weight: bolder;
  margin: 20px 0;
}

h6{
  font-size: 1rem;
  color: white;
}

p{
  color: rgb(209, 209, 209);
}

.code{
  font-weight: 700;
  color: white;
}

.topico{
  margin: 20px 0 20px 18px;
}

.topico li{
  color: rgb(209, 209, 209);
}

b{
  color: white;
}

.prefacio ul{
  list-style: none;
  margin: 30px 0;
}

.prefacio ul li a{
  text-decoration: none;
  color: #f78361;
  font-weight: 700;
  transition: 0.3s;
}

.prefacio ul li a:hover{
  text-decoration: underline;
}

.line{
  background-color: #59657e;
  width: 100%;
  height: 1px;
}

.textCode{
  color: rgb(209, 209, 209);
  margin-top: 25px;
}