.line{
  background-color: rgb(163, 163, 163);
  width: 100%;
  height: 1px;
  margin: 5px 0;
}

.conteudo{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.conteudo li{
  font-size: 1rem;
  font-weight: bolder;
  padding-top: 10px;
  color: white;
}

.prefacio{
  display: inline-block;
  padding: 20px 0;
  width: auto;
}

summary{
  text-decoration: none;
  color: #f78361;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}

details{
  display: flex;
}

details a{
  color: white;
  text-decoration: none;
  margin-left: 45px;
}

details a:hover{
  color: white;
  text-decoration: underline;
}