.header ul{
  display: flex;
  list-style: none;
  gap: 50px;
  padding: 30px 0;
}

.header-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}