.desktopMenu{
  background-image: linear-gradient(to top right, #f54b64, #f78361);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.menuLinks{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 100%;
}

.link{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3s;
  text-align: center;
  padding: 5px 20px;
  transition: 0.3s;
}

.link:hover{
  background-color: #323d52;
}

.openLogo{
  display: none;
}

.mobile-menu-icon {
  display: none;
}

@media (max-width: 550px) {

  .desktopMenu{
    background:transparent;
    box-shadow: none; 
  }

  .logo{
    display: none;
  }

  .menuLinks{
    display: none;
  }

  .menuLinksMobiles{
    background-image: linear-gradient(to top right, #f54b64, #f78361);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2%;
    position: fixed;
    width: 70%;
    right: 0;
    top: 0;
    margin-top: 12%;
    height: 100vh;
    z-index: 888;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .menuLinksMobiles li{
    list-style: none;
    transition: all 0.5s ease-in-out;
  }

  .openLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323d52;
    box-shadow: rgba(19, 19, 31, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3% 2%;
    z-index: 999;
  }

  .mobile-menu-icon{
    display: flex;
    color: white;
    background-color: transparent;
    border: 0;
    font-size: 2.5rem;
    cursor: pointer;
  }

  .link:hover{
    background-color: transparent;
  }
}